.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-left {
    font-size: 22px;
    font-weight: 990;
    color: #007bff;
}

.nav-right button {
    margin-left: 15px;
    padding: 8px 14px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s ease;
}

.nav-right button:hover {
    background: #0056b3;
    transform: scale(1.05);
}